body{
    font-family: Arial;
    padding: 0 0 10%;
    background: #f1f1f1;
}

.form{
    text-align: center;
    border: 1px solid black;
    width: 100%;
    padding-left: 25%;
    padding-right: 25%;
}

h1{
    text-align: center;
}
