@font-face {
	font-family: "Flaticon";
	src: url("../fonts/Flaticon.eot");
	src: url("../fonts/Flaticon.eot?#iefix") format("embedded-opentype"), url("../fonts/Flaticon.woff") format("woff"), url("../fonts/Flaticon.ttf") format("truetype"), url("../fonts/Flaticon.svg#Flaticon") format("svg");
	font-weight: normal;
	font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
	@font-face {
		font-family: "Flaticon";
		src: url("../fonts/Flaticon.svg#Flaticon") format("svg");
	}
}

.icon:before,
.icon:after {
	font-family: Flaticon;
	font-style: normal;
}

.icon-cart:before {
	content: "\f100";
}

.icon-check:before {
	content: "\f101";
}

.icon-clover:before {
	content: "\f102";
}

.icon-cross:before {
	content: "\f103";
}

.icon-heart:before {
	content: "\f104";
}

.icon-list:before {
	content: "\f105";
}

.icon-table:before {
	content: "\f106";
}

.icon-balance:before {
	content: "\f107";
}

body {
	background: url(../images/bg/2.png) #c8fec3;
	font-family: 'Roboto', sans-serif;
	color: #474747;
	font-size: 14px;
	margin: 0;
}

header {
	padding: 20px;
	background: #fff;
	border: 1px solid #b5e9a7;
	margin-bottom: 20px;
	border-radius: 3px;
}

nav {
	margin-top: 20px;
}

h1 {
	margin: 0;
	color: #727272;
}

h1 span {
	color: #277e16;
	margin-right: 10px;
}

.wrapper {
	max-width: 1000px;
	margin: 0 auto;
	padding: 20px;
}

.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.button {
	display: inline-block;
	width: 100%;
	background: #943cbc;
	color: #fff;
	font-family: "Roboto", sans-serif;
	font-weight: 500;
	text-align: center;
	border: 0;
	padding: 10px 0;
	border-radius: 20px;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, .1);
	box-shadow: 1px 1px 10px rgba(0, 0, 0, .4);
	cursor: pointer;
	text-decoration: none;
}

/*nav a {
	color: #277e16;
	font-weight: 500;
	font-size: 1.1em;
	margin-right: 10px;
}

nav a:hover {
	opacity: .8;
}*/

nav .current {
	color: #943cbc;
	pointer-events: none;
}