.products {
	list-style: none;
	margin: 0 -20px 0 0;
	padding: 0;
}

.product-wrapper {
	display: block;
	width: 100%;
	float: left;
	transition: width .2s;
}

.product {
	display: block;
	border: 1px solid #b5e9a7;
	border-radius: 3px;
	position: relative;
	background: #fff;
	margin: 0 20px 20px 0;
	text-decoration: none;
	color: #474747;
	z-index: 0;
	height: 500px;
}

/* NAME AND DESCRIPTION */

.product-text {
	padding: 20px;
}

.product h2 {
	font-size: 1.4em;
	color: #277e16;
	height: 2.8em;
	margin: 0 0 .7em;
}

.product p {
	position: relative;
	margin: 0;
	font-size: 1em;
	line-height: 1.4em;
	height: 2.8em;
	overflow: hidden;
}

.product p:after {
	content: '';
	display: inline-block;
	position: absolute;
	bottom: 0;
	right: 0;
	width: 4.2em;
	height: 1.6em;
	background: linear-gradient(to left top, #fff, rgba(255, 255, 255, 0));
}

/* PRODUCT IMAGE */

.product-image-main {
	height: 150px;
	min-height: 150px;
	display: block;
	margin: auto;
}

.product-photo {
	position: relative;
	padding-bottom: 100%;
	overflow: hidden;
}

/*.product-photo img {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	max-width: 100%;
	max-height: 100%;
	margin: auto;
	transition: transform .4s ease-out;
}

.product:hover .product-photo img {
	transform: scale(1.05);
}*/


/* PRODUCT DETAILS */

.product-details-wrap {
	padding: 0 20px 20px;
}

.product-availability {
	color: #277e16;
	font-size: .9em;
	margin-bottom: 1.5em;
}

.product-price {
	font-size: 1.3em;
}

/* BUTTONS */

.buttons {
	position: relative;
	top: -1px;
	padding: 20px;
	background: #fff;
}

.button {
	display: index-block;
	width: 100%;
	background: #943cbc;
	color: #fff;
	font-family: "Roboto", sans-serif;
	font-weight: 500;
	text-align: center;
	border: 2px;
	padding: 10px 0;
	border-radius: 20px;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, .1);
	box-shadow: 1px 1px 10px rgba(0, 0, 0, .4);
	cursor: pointer;
	margin-bottom: 5px;
}

.to-cart {
	background: #56bd4b;
}

.button:hover {
	opacity: .8;
}

@media only screen and (min-width: 450px) {
	.product-wrapper {
		width: 50%;
	}
}

@media only screen and (min-width: 768px) {
	.product-wrapper {
		width: 33.333%;
	}
}

@media only screen and (min-width: 1000px) {
	.product-wrapper {
		width: 25%;
	}
}