.content {
    max-width: 50%;
    margin: 5% 25%;
    border: 1px solid #333333;
}
#title-header {
    background: #333333;
    color: #f2f2f2;
    margin: 0;
    padding: 2%;
}
#buttons-footer {
    background: #f2f2f2;
    padding: 2% 5%;
}

#usereditcard {
    min-height: 50%;
    padding: 3% 7.5%;
}

.product-image-card {
	display: block;
	margin: auto;
	max-width: 100%;
}

.product-image-cart {
	height: 100px;
}

table {
    border-collapse: collapse;
    width: 100%;
    border: 0;
}

th, td {
    text-align: center;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

tr:hover{
    background-color: #aaa;
    color: #000;
}

th {
    background-color: #396d2c;
    color: white;
}
#linkbutton {
    color: #f2f2f2;
}

#linkbutton:hover {
    color: #ffffff;
}

#small-block {
    width: 20%;
}

#good-card {
    max-width: 75%;
    min-width: 50%;
    margin: 5% 25%;
    border: 1px solid #333333;
    padding-bottom: 1.5%;
}


.button {
    width: 100%;
    background: #943cbc;
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    text-align: center;
    border: 2px;
    padding: 2% 5%;
    border-radius: 20px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .1);
    box-shadow: 1px 1px 10px rgba(0, 0, 0, .4);
    cursor: pointer;
    margin-bottom: 5%;
    margin-right: 2%;
}
.button:hover {
    opacity: .8;
}

img{
    max-width: 50%;
}