.navbar {
    border-radius: 0;
    margin: 0;
}

.topnav {
    overflow: hidden;
    background-color: #333;
}

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.topnav a:hover {
    color: white;
    font-weight: bold;
}

.rigthnav a{
    float: right;
}

footer {
    background-color: #555;
    color: white;
    padding: 15px;
}
@media screen and (max-width: 767px) {
    .row.content {
        height: auto;
    }
}

select{
    background-color: #555555;
}

.nav li a span:hover{
    font-family: Arial;
    font-weight: bold;
}

#map{
    height: 400px;
    width: 100%;
    padding: 0;
    margin: 0;
}