table {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid black;
}

th, td {
    text-align: center;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

tr:hover{
    background-color: #555;
    color: white;
}

th {
    background-color: #396d2c;
    color: white;
}