<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/navbar.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/body.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/infocard.css}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js">
    </script>
    <script th:src="@{/js/replaceURL.js}"></script>
    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
    <script th:src="@{/js/find_closest_object.js}"></script>
    <title>Good card</title>
</head>
<body>
<div th:include ="navbar :: navbar"></div>
<br/>
<div id="good-card">
    <div>
        <h4 style="background: #396d2c" id="title-header" align="center">
            <span th:text="${good.getName()}"></span>
        </h4>
        <div class="card-block">
            <table>
                <tbody>
                <tr>
                    <td rowspan="3">
                        <img style="float: left; border-radius: 5%" class="product-image-card" th:src="'/goodimage/'+${good.id}" onerror="this.src = '/default_photo.jpg'">
                    </td>
                    <td class="index"><span th:text="#{description}"></span>:</td>
                    <td class="value" th:text="${good.getDescription()}"></td>
                </tr>
                <tr>
                    <td class="index"><span th:text="#{price_in_card}"></span>:</td>
                    <td class="value" th:text="${good.getPrice()}"></td>
                </tr>
                <tr>
                    <td class="index"><span th:text="#{in_stock}"></span>:</td>
                    <td class="value" th:text="${good.getNumber()}"></td>
                </tr>
                </tbody>
            </table>
            </div>
        <div class="card-footer" id="buttons-footer" align="right">
            <div class="buttons" th:if="${#authorization.expression('isAuthenticated()')}">
                <a class="button" th:href="@{'/good/' + ${good.getId()} + '/add'}">
                    <span th:text="#{add_to_cart}"></span>
                </a>
                <a class="button  to-cart"
                   th:href="@{'/good/' + ${good.getId()} + '/edit'}"
                   th:if="${#authorization.expression('hasRole(''ADMIN'')')}">
                    <span th:text="#{edit}"></span>
                </a>
                <a class="button  to-cart"
                   th:href="@{'/good/' + ${good.getId()} + '/remove'}"
                   th:if="${#authorization.expression('hasRole(''ADMIN'')')}">
                    <span th:text="#{remove}"></span>
                </a>
            </div>
        </div>
    </div>
</div>
<div th:include ="navbar :: footer"></div>
</body>
</html>