<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<link rel="stylesheet" th:href="@{/css/goods-style.css}">
<link rel="stylesheet" th:href="@{/css/goods-demo.css}">
<link rel="stylesheet" th:href="@{/css/navbar.css}">
<link rel="stylesheet" th:href="@{/css/body.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/navbar.css}" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js">
</script>
<script th:src="@{/js/replaceURL.js}"></script>
	<script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
	<script th:src="@{/js/find_closest_object.js}"></script>
<title>Goods</title>
</head>
<body>
	<div th:include="navbar :: navbar"></div>
	<div th:if="${param.added}">
		<div class="alert alert-success">
			<span th:text="#{success}"></span>
		</div>
	</div>
	<div class="wrapper">
		<ul class="products clearfix">
			<li class="product-wrapper" th:each="good: ${goods}">
				<div href="" class="product">
					<div class="product-main">
						<img class="product-image-main" th:src="'/goodimage/'+${good.id}" onerror="this.src = '/default_photo.jpg'">
						<div class="product-text">
							<h2 th:text="${good.getName()}"></h2>
							<p th:text="${good.getDescription()}"></p>
						</div>
					</div>
					<div class="product-details-wrap">
						<div class="product-details">
							<div class="product-availability">
								<b><span th:text="#{in_stock}"></span>:</b>
								<b th:text="${good.getNumber()}" />
							</div>
							<span class="product-price"> <b
								th:text="${good.getPrice()}" /> <small>руб.</small>
							</span>
						</div>
						<div class="buttons">
							<a class="button" th:href="@{'/good/' + ${good.getId()}}">
								<span th:text="#{view}"></span>
							</a>
							<a class="button"
								th:href="@{'/good/'+${good.getId()} + '/add'}">
								<span th:text="#{add_to_cart}"></span>
							</a>
						</div>
					</div>
				</div>
			</li>
		</ul>
	</div>
	</div>
	<div th:include ="navbar :: footer"></div>
</body>
</html>