<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/navbar.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/body.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/infocard.css}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js">
    </script>
    <script th:src="@{/js/replaceURL.js}"></script>
    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
    <script th:src="@{/js/find_closest_object.js}"></script>
    <title>New good page</title>
</head>
<body>
<div th:include="navbar :: navbar"></div>
<br/>
<div class="content">
    <form action="#" th:action="@{newgood/submit}" th:object="${good}" method="post" enctype="multipart/form-data">>
        <fieldset>
            <div>
                <h4 id="title-header" align="center">
                    Edit good card
                </h4>
                <div id="usereditcard" class="card-block">
                    <div class="form-group">
                        <label><span th:text="Name"></span> </label>
                        <input id="name" type="text" class="form-control" name="name"
                               th:placeholder="${good.getName()}" th:field="*{name}"/>
                    </div>
                    <div class="form-group">
                        <label><span th:text="Price"></span> </label>
                        <input id="price" type="text" class="form-control" name="price"
                               th:placeholder="${good.getPrice()}" th:field="*{price}"/>
                    </div>
                    <div class="form-group">
                        <label><span th:text="Description"></span> </label>
                        <input id="description" type="text" class="form-control" name="description"
                               th:placeholder="${good.getDescription()}" th:field="*{description}"/>
                    </div>
                    <div class="form-group">
                        <label><span th:text="Number"></span> </label>
                        <input id="number" type="text" class="form-control" name="number"
                               th:placeholder="${good.getNumber()}" th:field="*{number}"/>
                    </div>
                    <div class="form-group">
                        <label><span th:text="Image"></span> </label>
                        <input id="name" type="file" class="form-control" name="imagefile" />
                    </div>
                </div>
                <div class="card-footer" id="buttons-footer" align="right">
                    <button type="button" class="btn btn-secondary">
                        <a th:href="@{'/'}">
                            <span th:text="#{cancel}"></span>
                        </a>
                    </button> &nbsp; &nbsp;
                    <button type="submit" class="btn btn-success">
                        <span th:text="#{apply}"></span>
                    </button>
                </div>
            </div>
        </fieldset>
    </form>
</div>
<div th:include ="navbar :: footer"></div>
</body>
</html>