<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/navbar.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/table.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/body.css}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js">
    </script>
    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
    <script th:src="@{/js/find_closest_object.js}" type="text/javascript"></script>
    <script th:src="@{/js/replaceURL.js}"></script>
    <title>Orders</title>
</head>
<body>
<div th:include="navbar :: navbar"></div>
<br/>
<table>
    <thead>
    <tr>
        <th><span th:text="#{order_id}"></span></th>
        <th><span th:text="#{good_id}"></span></th>
        <th><span th:text="#{number}"></span></th>
        <th><span th:text="#{price}"></span></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="order: ${orderedGoods}">
        <td>
            <div th:text="${order.getOrderId()}"></div>
        </td>
        <td>
            <div th:text="${order.getGoodId()}"></div>
        </td>
        <td>
            <div th:text="${order.getNumber()}"></div>
        </td>
        <td>
            <div th:text="${order.getPrice()}"></div>
        </td>
    </tr>
    </tbody>
</table>
<div th:include ="navbar :: footer"></div>
</body>
</html>