<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" lang="ru">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/navbar.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/table.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/infocard.css}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js">
    </script>
    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
    <script src="https://yandex.st/jquery/2.2.3/jquery.min.js" type="text/javascript"></script>
    <script th:src="@{/js/replaceURL.js}"></script>
    <script th:src="@{/js/input_validation.js}"></script>
    <script th:src="@{/js/find_closest_object.js}"></script>

    <title>Cart</title>
</head>
<body>
<div th:include ="navbar :: navbar"></div>
<br/>
<div th:if="${param.error}">
    <div class="alert alert-danger">
        <span th:text="#{incorrect_data}"></span>
    </div>
</div>
<div class="content">
    <div>
        <h4 id="title-header" align="center">
            Cart
        </h4>
        <div class="card-block">
            <table>
                <thead>
                <tr>
                    <th></th>
                    <th><span th:text="#{name}"></span> </th>
                    <th></th>
                    <th><span th:text="#{amount}"></span> </th>
                    <th><span th:text="#{price_in_card}"></span> </th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="good: ${#session.getAttribute('userCartGoods')}">
                    <td>
                        <img class="product-image-cart" th:src="'/goodimage/'+${good}" onerror="this.src = '/default_photo.jpg'">
                    </td>
                    <td>
                        <span th:text="${#session.getAttribute('goods').getGoodById(good).getName()}"></span>
                    </td>
                    <form action="#" th:action="@{'/cart/change/' + ${good}}" th:object="${amount}" method="post">
                        <td id="small-block">
                            <button type="submit" class="btn">Recalculate</button>
                        </td>
                        <td>
                            <input id="amount" type="number" min="1" class="form-control" name="amount"
                                   th:placeholder="${#session.getAttribute('userCart').get(good)}"
                                   th:field="*{intField}"/>
                        </td>
                    </form>
                    <td>
                        <div id="price" th:text="${#session.getAttribute('goods').getGoodById(good).getPrice().multiply(#session.getAttribute('userCart').get(good))}"></div>
                    </td>
                    <td>
                        <button type="submit" class="btn btn-danger">
                            <a class="btn-danger" th:href="@{'/cart/remove/' + ${good}}">
                                <span th:text="#{remove}"></span>
                            </a>
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
            <br />
            <br />
            <br />
        </div>
        <div class="card-footer" id="buttons-footer" align="right">
            <form action="#" th:action="@{'/buy'}" th:object="${address}" method="post">
                <div id="header" style="float: left">
                <input id="suggest" style="min-width: 80%" type="text" class="form-control" name="suggest"
                                     th:placeholder="Address" th:field="*{textField}"/>
                </div>
                <button type="submit" class="btn btn-success">
                    <span th:text="#{apply}"></span>
                </button>
            </form>
        </div>
    </div>
</div>
<div th:include ="navbar :: footer"></div>
</body>
</html>