<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/navbar.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/table.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/body.css}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js">
    </script>
    <script th:src="@{/js/replaceURL.js}"></script>
    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
    <script th:src="@{/js/find_closest_object.js}"></script>
    <title>Users list</title>
</head>
<body>
<div th:include="navbar :: navbar"></div>

<br/>

<table>
    <thead>
    <tr>
        <th>Id</th>
        <th><span th:text="#{name}"></span></th>
        <th><span th:text="#{email}"></span></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user: ${users}">
        <td th:text="${user.getId()}"></td>
        <td th:text="${user.getName()}"></td>
        <td th:text="${user.getEmail()}"></td>
        <td>
            <button type="button" class="btn btn-secondary">
                <a th:href="@{'/users/profile/' + ${user.getId()}}">
                    <span th:text="#{view}"></span>
                </a>
            </button>
        </td>
    </tr>
    </tbody>
</table>
<div th:include ="navbar :: footer"></div>
</body>
</html>