<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/navbar.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/infocard.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/body.css}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js">
    </script>
    <script th:src="@{/js/replaceURL.js}"></script>
    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
    <script th:src="@{/js/find_closest_object.js}"></script>
    <title>User edit</title>
</head>
<body>
<div th:include="navbar :: navbar"></div>
<br/>
<div class="content">
    <form action="#" th:action="@{/profile/edit/submit}" th:object="${user}" method="post">
        <fieldset>
            <div>
                <h4 id="title-header" align="center">
                    <span th:text="#{emit_user}"></span>
                </h4>
                <div id="usereditcard" class="card-block">
                    <div class="form-group">
                        <label><span th:text="#{name}"></span> </label>
                        <input id="name" type="text" class="form-control" name="name"
                               th:placeholder="${user.getName()}" th:field="*{name}"/>
                    </div>
                    <div class="form-group">
                        <label><span th:text="#{email}"></span> </label>
                        <input id="email" type="text" class="form-control" name="email"
                               th:placeholder="${user.getEmail()}" th:field="*{email}"/>
                    </div>
                    <div class="form-group">
                        <label><span th:text="#{password}"></span> </label>
                        <input id="password" type="text" class="form-control" name="password"
                               th:placeholder="${user.getPassword()}" th:field="*{password}"/>
                    </div>
                </div>
                <div class="card-footer" id="buttons-footer" align="right">
                    <button type="button" class="btn btn-secondary">
                        <a href="/profile">
                            <span th:text="#{cancel}"></span>
                        </a>
                    </button> &nbsp; &nbsp;
                    <button type="submit" class="btn btn-success">
                        <span th:text="#{apply}"></span>
                    </button>
                </div>
            </div>
        </fieldset>
    </form>
</div>
<div th:include ="navbar :: footer"></div>
</body>
</html>